/* Webpage Theme */

:root{
--lightcyan:lightcyan; 
--darkslategrey: darkslategrey;
--Trebuchet:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Universal Selector Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HTML Tags Styles */

body {
    background-color: lightgray;
}

a {
    color: var(--lightcyan);
    text-decoration: underline;
    text-underline-offset: 10px;
}
.portfolio-links {
    display: inline-block;   
}

p {
    font-size: 16px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}


/* Header Properties */

.header {
    padding: 20px;
    padding-left: 0px;
    font-family: var(--Trebuchet);
    background-color: var(--darkslategrey)
   
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding: 10px;
    padding-left: 50px;
    background-color: var(--lightcyan);
    color: var(--darkslategrey);
}

.header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;  
}

/* Main Image Propeties */

.avatar {
    height: 400px;
    margin-bottom: 25px;
    background-image: url("../images/IMG_6565.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100vw; 
}


/* Overall Grid and Title properties */

.Overall-Grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
    padding-bottom: 50px;
    width: 90vw;
}
.Overall-Title {
    font-family: var(--Trebuchet);
    color: var(--darkslategrey);
    font-size: 28px;  
    min-height: 50px;
    padding-right: 15px;
    border-right: 4px solid var(--darkslategrey);
    text-align: right;
}



/* About Me Description properties */

.About-Me-Desc {
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: var(--Trebuchet);
    color: var(--darkslategrey);
    font-size: 18px;
  }

