/* Webpage Theme */

:root{
--lightcyan:lightcyan; 
--darkslategrey: darkslategrey;
--Trebuchet:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Universal Selector Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HTML Tags Styles */

body {
    background-color: lightgray;
}

a {
    color: var(--lightcyan);
    text-decoration: underline;
    text-underline-offset: 10px;
}
.portfolio-links {
    display: inline-block;   
}

p {
    font-size: 16px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
}


/* Header Properties */

.header {
    padding: 20px;
    padding-left: 0px;
    font-family: var(--Trebuchet);
    background-color: var(--darkslategrey)
   
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding: 10px;
    padding-left: 50px;
    background-color: var(--lightcyan);
    color: var(--darkslategrey);
}

.header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;  
}

/* Main Image Propeties */

.avatar {
    height: 400px;
    margin-bottom: 25px;
    background-image: url("../images/IMG_6565.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100vw; 
}


/* Overall Grid and Title properties */

.Overall-Grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10px;
    padding-bottom: 50px;
    width: 90vw;
}
.Overall-Title {
    font-family: var(--Trebuchet);
    color: var(--darkslategrey);
    font-size: 28px;  
    min-height: 50px;
    padding-right: 15px;
    border-right: 4px solid var(--darkslategrey);
    text-align: right;
}



/* About Me Description properties */

.About-Me-Desc {
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: var(--Trebuchet);
    color: var(--darkslategrey);
    font-size: 18px;
  }

/* My Work Grid properties */

.Work-SubGrid {
    display: grid;
      grid-template-areas:
        'header header '
        'main right'
        'main2 right2';
      gap: 10px;
      padding-left: 20px;
      
    }

.item1, .item2, .item3, .item4, .item5 {
    font-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    border: solid 5px var(--lightcyan);
    position: relative;
}

.item1 {
    grid-area: header;
    background-image: url("../images/codingbanner.jpg");
    height: 500px;
}

.item2 {
    grid-area: main;
    background-image: url("../images/Calendar-Banner.jpeg");
}

.item3 {
    grid-area: right;
    background-image: url("../images/countdown timer.png");
}
.item4 {
    grid-area: main2;
    background-image: url("../images/Calculator-Banner.png");
}

.item5 {
    grid-area: right2;
    background-image: url("../images/currency-banner.jpeg");
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover {
    opacity: 0.5;   
}

/* Work Image Description Properties */

.work-text {
    position: absolute;
    bottom: 20px;
    padding-left:10px;
    padding-right: 10px;
    background-color: var(--lightcyan);
    width: max-content;
    height: 60px;
    height: min-content;
    font-family: var(--Trebuchet);
    color: var(--darkslategrey);
    padding-bottom: 2px;  
    
}

.work-text p {
    font-size: x-small;
}

/* Contact Me Grid Properties */

.Contact-Me {

    display: grid;
    grid-template-columns: 200px auto auto auto;
    gap:10px;
    min-width:80vw;
    margin-inline: auto;
    
}

.cItem1,.cItem2,.cItem3,#contact-link {
    
    margin-bottom: 30px;
    font-size: 20px;
    font-family: var(--Trebuchet);
    color: var(--darkslategrey);
    text-decoration: underline;
    text-underline-offset: 20px;
    padding-left: 15px;
}

#contact-link {
    padding-left: 0px;
}

/* Media Query for Responsive Design */

@media screen and (max-width: 768px){
    .header {
        height: 200px;
    }

    .Work-SubGrid {
        grid-template-areas:
        'header'
         'main' 
         'right'
         'main2'
         'right2';
    }
    .work-text {
        width: min-content;
    }
    .Overall-Grid {
        grid-template-columns: 150px 1fr;
    }
}


